LOCATE COMP "RX" SITE "A11";
LOCATE COMP "TX" SITE "C11";

IOBUF PORT "RX" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "TX" IO_TYPE=LVCMOS33;

FREQUENCY NET "osc_8m31" 8.31 MHz;

LOCATE COMP "PWM_0" SITE "H11";
LOCATE COMP "PWM_1" SITE "J13";
LOCATE COMP "PWM_2" SITE "J11";
LOCATE COMP "PWM_3" SITE "L12";

LOCATE COMP "LED_4" SITE "K11";
LOCATE COMP "LED_5" SITE "L13";
LOCATE COMP "LED_6" SITE "N15";
LOCATE COMP "LED_7" SITE "P16";

LOCATE COMP "SPI_CSn" SITE "C4";
LOCATE COMP "SPI_Dout" SITE "D6";
LOCATE COMP "SPI_Din" SITE "C5";
LOCATE COMP "SPI_clk" SITE "E6";

IOBUF PORT "PWM_0" IO_TYPE=LVCMOS33;
IOBUF PORT "PWM_1" IO_TYPE=LVCMOS33;
IOBUF PORT "PWM_2" IO_TYPE=LVCMOS33;
IOBUF PORT "PWM_3" IO_TYPE=LVCMOS33;

IOBUF PORT "LED_4" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_5" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_6" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_7" IO_TYPE=LVCMOS33;

IOBUF PORT "SPI_CSn" IO_TYPE=LVCMOS33;
IOBUF PORT "SPI_Dout" IO_TYPE=LVCMOS33;
IOBUF PORT "SPI_Din" IO_TYPE=LVCMOS33;
IOBUF PORT "SPI_clk" IO_TYPE=LVCMOS33;
